body {
    background-color: rgb(255, 240, 240);
    color: black;
}

th{
  border: 1px solid black;
}

#div1{
  text-align:center;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 10px;
  margin: 25px;
  width: 20%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

#rr{
  color: grey;
}

nav ul li {
  float: left;
  width: 24.8%;
  text-align: center;
  position: relative;
  border: gold;
  border: 1px solid gold;
}

#header{
  width: 100%;
  height: 100px;
  color: black;
}

.h1 {
  color: transparent;
  background: url(https://as2.ftcdn.net/v2/jpg/03/81/93/25/1000_F_381932548_YH6WrPnz7ds5l6XtLwhBpxa51MqSNS7m.jpg) repeat;
  background-position: 40% 50%;
  background-clip: text;
  position: relative;
  text-align: center;
  line-height: 100px;
  letter-spacing: -8px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.h1petit{
  font-size: 50px;
  letter-spacing: -3px;
}

.h1grand{
  font-size: 100px;
  letter-spacing: -6px;
}
