body {
  background-color: rgb(255, 240, 240);
  color: black;
  margin: 0;
}

th{
  border: 1px solid black;
}

.button{
  text-align:center;
  text-decoration: none;
  position: relative;
  border: 1px;
  border-color: black;
  border-radius: 3px;
  border-top: 0;
  padding: 10px;
  margin: 25px;
  width: 20%;
  height: 50px;
  background-color: rgb(255, 240, 240);
  display: flex;
}

.rickroll{
  color: transparent;
}

.header{
  height: 100px;
  background-image: linear-gradient(black,rgb(255, 240, 240));
}

.h1 {
  color: transparent;
  background: url(https://as2.ftcdn.net/v2/jpg/03/81/93/25/1000_F_381932548_YH6WrPnz7ds5l6XtLwhBpxa51MqSNS7m.jpg) repeat;
  background-position: 40% 50%;
  background-size: 100%;
  background-clip: text;
  position: relative;
  text-align: center;
  line-height: 100px;
  letter-spacing: -8px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  margin: 0;
}

.h1petit{
  font-size: 50px;
  letter-spacing: -3px;
}

.h1grand{
  font-size: 100px;
  letter-spacing: -6px;
}

.lien{
  text-decoration: none;
  text-decoration-color: black;
}