body {
    background-color: grey;
    color: black;
}

th{
  border: 1px solid black;
}

#h1 {
  font-size: 4rem;
  font-family: serif;
  text-align: center;
  color: #ECFFDC;
  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgreen;
}