body {
    background-color: grey;
    color: black;
}

th{
  border: 1px solid black;
}

#div1{
  text-align:center;
  border: 15px solid green;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 20%;
  height: 50px;
  background-color: aqua;
  margin-left: 30%;
}

#rr{
  color: grey;
}

nav ul li {
  float: left;
  width: 24.8%;
  text-align: center;
  position: relative;
  border: gold;
  border: 1px solid gold;
}

#h1 {
  color: transparent;
  font-size: 100px;
  background: url(https://e0.pxfuel.com/wallpapers/254/706/desktop-wallpaper-minecraft-stone-block-texture.jpg) repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 100px;
  letter-spacing: -8px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}