body {
    background-color: grey;
    color: black;
}

th{
  border: 1px solid black;
}

#h1 {
  font-size: 80px;
  font-family: serif;
  text-align: center;
  color: #000000;
  
  /* Text Shadow Property */
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#div1{
  text-align:center;
  border: 15px solid green;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 20%;
  height: 50px;
  background-color: aqua;
  margin-left: 30%;
}

#rr{
  color: grey;
}

body{
  background-image: linear-gradient(rgba(50, 0, 50, 0.5), rgba(245, 255, 245, 0.5)),

}